audit=true
audit-level=moderate
cache=.npm-cache
engine-strict=true
fund=false
ignore-scripts=true
lockfile-version=3
package-lock=true
provenance=true
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-deps=true
